.parallax {
	min-height: 100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

.nav1 {
	font-family: 'Raleway', serif;
	font-size: 1.7em;
	margin: 0 auto;
	padding: 2em 5em;
	text-align: center;
}

.green {
	color: green;
	padding: 30px 20px;

}

.home {
	background-image: url("clean.jpg");
	background-position: 50% 30%;
}

.about {
	background-image: url("flower.jpg"); 
	background-position: center;
}

.box {
	position: absolute;
	z-index: 1;
}

.me {
	background-image: url("mac.jpg");
	background-position: right center;
}

.logo {
	width: 30px;
	height: 30px;
	margin: 20px;
}

.pusheen {
	width: 60px;
	height: 50px;
}

footer {
	background-color: seagreen;
	padding: 20px 30px;
	text-align: center;
}